%li
  = link_to "Текущая поездка", root_path
%li
  = link_to "Предложенные", suggested_tickets_path
%li
  = link_to "Запланированные", scheduled_tickets_path
%li
  %a{"data-toggle" => "modal", href: "#newModal"} Добавить расходы
%li
  - if current_user.normal?
    = link_to "Перерыв", take_a_brake_user_path(current_user)
  - else
    = link_to "Продолжить", continue_user_path(current_user) 
  %a{:href => "/tickets/scheduled"} 
