.panel.panel-default.panel-tickets-show-assign
  .panel-heading
    %h5.panel-title
      Назначить водителя
  .panel-body-compact
    .well.well-compact.well-compact-no-border
      - if ticket.driver
        %span.assigned_driver{"data-driver" => "#{ticket.driver.id}"}
          Присвоено водителю
          = ticket.driver.username
      - else
        - if ticket.suggestions.present?
          - if ticket.suggestions.with_state(:rejected).present?
            %span.suggested_drivers{"data-drivers" => "#{ticket.suggestions.map {|s| s.driver.id}}"}
              Отклонено водителями
            .well.well-small
              %ul
                - for suggestion in ticket.suggestions.with_state(:rejected)
                  %li
                    = suggestion.driver.username
          - elsif ticket.suggestions.without_state(:rejected).present?
            %span.suggested_drivers{"data-drivers" => "#{ticket.suggestions.map {|s| s.driver.id}}"}
              Предложено водителям
            .well.well-small
              %ul
                - for suggestion in ticket.suggestions.without_state(:rejected)
                  %li
                    = suggestion.driver.username
        - else
          .well.well-small 
            Поездка не предложена. Выберите водителя на карте или из списка, чтобы предложить поездку
        = simple_form_for [ticket, Suggestion.new] do |f|
          - possible_suggestions = User.with_state("normal").where("users.role = 'driver'") - ticket.suggestions.without_state(:rejected).map(&:driver)
          - if possible_suggestions.present?
            = f.association :driver, collection: possible_suggestions, as: :select, label_method: :username, label: false, include_blank: "<Предложить>"
            = f.hidden_field :ticket_id, value: ticket.id
            = f.submit 'Разослать предложение', class: 'btn btn-primary'