#C1.span6
  .inner-container-fluid
    #driver_show.tickets-list
      .left-panel
        .panel.panel-default.panel-tickets-show-info
          .panel-heading
            %h5.panel-title
              Информация
          .panel-body-compact
            .well.well-compact.well-compact-no-border
              .pull-right
                %b
                  = @ticket.formatted_time
              %div
                Имя клиента:
                %b
                  = @ticket.name
              %div
                Адрес отправления:
                %b
                  = @ticket.pick_up_location
              %div
                Адрес прибытия:
                %b
                  = @ticket.drop_off_location
              %div
                Контактный номер:
                %b
                  = @ticket.phone
              - if @ticket.note
                %div
                  Заметки:
                  = @ticket.note
  .inner-container-fluid
    #driver_show.tickets-list
      .left-panel
        .panel.panel-default.panel-tickets-show-assign
          .panel-heading
            %h5.panel-title
              Назначить водителя | Информация о поездке
          .panel-body-compact
            .well.well-compact.well-compact-no-border
              - if @ticket.driver
                %span.assigned_driver{"data-driver" => "#{@ticket.driver.id}"}
                  Информация об идущей поездке
              - else
                - if @ticket.suggestions.present?
                  %span.suggested_drivers{"data-drivers" => "#{@ticket.suggestions.map {|s| s.driver.id}}"}
                    Предложено водителям:
                  .well.well-small
                    %ul
                      - for suggestion in @ticket.suggestions
                        %li
                          = suggestion.driver.username
                - else
                  .well.well-small 
                    Поездка не предложена. Выберите водителя на карте или из списка, чтобы предложить поездку
                = simple_form_for [@ticket, Suggestion.new] do |f|
                  - possible_suggestions = User.where("users.role = 'driver'") - @ticket.suggestions.map(&:driver)
                  - if possible_suggestions.present?
                    = f.association :driver, collection: possible_suggestions, as: :select, label_method: :username, label: false, include_blank: "<Предложить еще>"
                    = f.hidden_field :ticket_id, value: @ticket.id
                    = f.submit 'Разослать предложение', class: 'btn btn-primary'

#C1.span6
  .inner-container-fluid
    #driver_show.tickets-list
      .right-panel
        .panel.panel-default{style: "margin-bottom: 70px;"}
          .panel-heading
            %h5.panel-title
              Водители
          .panel-body-compact.panel-full-height
            = map(:center => {:latlng => [60.00709637490654, 30.412645339965817],:zoom => 13})