#C1.span6
  .inner-container-fluid
    #driver_show.tickets-list
      .left-panel
        .panel.panel-default.panel-tickets-show-info
          .panel-heading
            %h5.panel-title
              Информация
          .panel-body-compact
            .well.well-compact.well-compact-no-border
              .pull-right
                %b
                  = @ticket.formatted_time
              %div
                Имя клиента:
                %b
                  = @ticket.name
              %div
                Адрес отправления:
                %b
                  = @ticket.pick_up_location
              %div
                Адрес прибытия:
                %b
                  = @ticket.drop_off_location
              %div
                Контактный номер:
                %b
                  = @ticket.phone
              - if @ticket.note
                %div
                  Заметки:
                  = @ticket.note
  .inner-container-fluid
    #driver_show.tickets-list
      .left-panel
        - if current_user.role == 'dispatcher'
          = render partial: "dispatcher_actions", locals: { ticket: @ticket }
        - elsif current_user.role == 'driver'
          = render partial: "driver_actions", locals: { ticket: @ticket } 

#C1.span6
  .inner-container-fluid
    #driver_show.tickets-list
      .right-panel
        .panel.panel-default{style: "margin-bottom: 70px;"}
          .panel-heading
            %h5.panel-title
              Водители
          .panel-body-compact.panel-full-height#map
            :javascript
                ymaps.ready(function(){
                  window.map = new ymaps.Map("map",  { center: [59.92571748133317, 30.31614104908202], zoom: 11 });
                  var route = #{@ticket.formatted_route}
                  ymaps.route(route).then(
                    function (route) {
                      map.geoObjects.add(route);

                      if($('body').attr('data-user-type') == 'driver'){
                        var points = [];

                        var setMyCoords = function() {
                          console.log('finish movement');
                          var marker = null;
                          TaxiApp.Utils.getMyCoords(function(latlng) {
                            if(!marker) {
                               marker = new ymaps.Placemark(latlng, { content: 'Мое местоположение' }, { preset: "twirl#redIcon" });
                               window.map.geoObjects.add(marker);
                               window.map.panTo(latlng, { duration: '2000', callback: function() {
                                 map.setZoom(17, { duration: 1000 })
                               } });
                            } else {
                              marker.editor.geometry.setCoordinates(latlng);
                            }
                          }, { watch: true });
                        }
                        console.log(#{@ticket.formatted_route});
                        map.panTo(#{@ticket.formatted_route}, { callback: setMyCoords, flying: true, duration: 3000 });
                      } else {
                        window.map.setBounds(#{ @ticket.formatted_route});
                      }
                    },
                    function (error) {
                      alert('Возникла ошибка: ' + error.message);
                    }
                  );
                })
                  