!!!
%html
  %head
    %title Taxi App
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %script{src: "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru_RU", type: 'text/javascript'}
  %body{ "data-user-type" => "#{current_user ? current_user.role : nil}", "data-user" => "#{current_user ? current_user.id : nil}", "page" => "#{controller.controller_name}##{controller.action_name}" }
    - if current_user
      %header.navbar.navbar-fixed-top.navbar-inverse{:style => "allign: center; "}
        .navbar-inner
          .container
            %nav
              %ul#statistics.nav.nav-justified.enlarged.pull-left{ style: "float: left;" }
                %li
                  %a{:href => "/users/2"}
                    %span.main_icon
                      = current_user.login
              .login_new.pull-right{"style" => "margin-top: 10px;"}
                = link_to "Заершить работу", destroy_user_session_path, "style" => "color : #999999;", :method => :delete
            
    .container-fluid.details
      .hero-unit
        #alerts
          = bootstrap_flash
        .inner-container-fluid
          = yield
        .modals
          / Place the status modal outside the nav div to show it properly
          / end
          / Place the new expense modal outside the nav div to show it properly
          / end
          .custom

    - if current_user
      .navbar.navbar-fixed-bottom.navbar-inverse{:style => ""}
        .navbar-inner
          .container
            %nav
              %ul.nav
                - if current_user.role == 'driver'
                  = render partial: 'shared/driver_bar', locals: { driver: current_user }
                - else
                  = render partial: 'shared/dispatcher_bar', locals: { dispatcher: current_user }
